

.load {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $wht2;
    overflow: hidden;

    .load-frame {
        position: absolute;
        top: 60px;
        right: 60px;
        bottom: 60px;
        left: 60px;
        background-color: $wht2;
        overflow: hidden;
    }
}

.load-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    // background-color: $wht3;
    transition: bottom 1500ms cubic-bezier(0.02, 0.07, 0, 1.01), opacity 3000ms cubic-bezier(0.02, 0.07, 0, 1.01);
    &.opc {
        opacity: 1;
    }

    img {
        width: 100%;
        height: auto;
    }
}


// cubic-bezier(0.02, 0.07, 0, 1.01)
